#main,body,html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#mainContainer {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#musicContainer {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    justify-content: space-evenly;
    overflow: scroll;
}

.Containers {
    width: 15em;
    height: 20em;
    border: 1px solid black;
    text-align: center;
    margin: 0 0 0 2%;
}

.Containers > img {
    width: 12em;
    height: 12em;
    border-radius: 100%;
}